.container {
    display: grid;

    grid-row: auto;

    justify-items: center;
}

.header {
    margin-bottom: 40px;
}

.terms {
    font-size: 48px;
    color: #01B4E4;

    margin-bottom: 30px;
}

.results {
    padding: 40px;
    display: grid;

    grid-template-rows: auto auto auto;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

    max-width: 1000px;
}

@media(min-width: 400px) {
    .results {
        min-width: 400px;
    }
}

@media(min-width: 600px) {
    .results {
        min-width: 600px;
    }
}

@media(min-width: 800px) {
    .results {
        min-width: 800px;
    }
}


@media(min-width: 1000px) {
    .results {
        min-width: 1000px;
    }
}





